<br>
<div class="panel panel-primary" >
  <div class="panel-heading" >
    <b>Announcement</b>
  </div>
  <div class="panel-body" >
    <table class="table table-bordered datatable" >
      <thead>
        <tr class="text-nowrap" >
          <th>#</th>
          <th>Title</th>
          <th>Type</th>
          <th>PE</th>
          <th>Budget source</th>
          <!-- <th>Open register</th>
          <th>Close submit</th>
          <th>Open bidding</th> -->
          <th>public</th>
          <th>action</th>
        </tr>
      </thead>
      <tbody>
        <% no = 1; @announcements.each do |announcement| %>
          <tr>
            <td> <%= no %> </td>
            <td width="300px" > <%= announcement.title %> </td>
            <td> <%= announcement.announcement_type.name %> </td>
            <td> <%= announcement.procurement_entity.name %> </td>
            <td> <%= announcement.budget_source.name %> </td>
            <!-- <td> <%= announcement.open_register_date %> </td>
            <td> <%= announcement.close_submit_date %> </td>
            <td> <%= announcement.open_bid_doc_date %> </td> -->
            <td>
            <%= "<p class='btn btn-xs btn-success' >Yes</p>".html_safe if announcement.public == true %>
            <%= "<p class='btn btn-xs btn-danger' >No</p>".html_safe if announcement.public == false %>
            </td>
            <td>
            <%= link_to "edit", edit_announcement_path(announcement) , class: "btn btn-xs btn-primary"  %> 
              <%= link_to 'Delete',  { action: :destroy, id: announcement.id}, method: :delete, data: { confirm: 'Are you sure to delete this announcement?' }, class: "btn btn-xs btn-danger" %>
              <%= link_to 'View', announcement_path(announcement) , class: "btn btn-xs btn-primary" %>
            </td>
          </tr>

        <% no+= 1;  end %>
      </tbody>

    </table>
    
  </div>
  <div class="panel-footer" >
    <%= link_to "Add ", new_announcement_path, class: "btn btn-primary" %>
  </div>
</div>
