</div>
    <!-- main content -->
</div>
  <!-- full width content -->
  <div class="main-footer col-md-12 no-padding">
      <!-- footer-top -->
      <div class="footer-top">
        <!-- footer-top -->
      </div>  
      <!-- /footer-top -->
      <!-- footer-content -->
        <div class="footer-content background-color-fore has-padding col-md-12">
          <!-- widget box -->
          <div class="footer-widget-box widget-box col-md-5 pull-right ">
            <h2 style="border-bottom:1px solid #fff;" ><%= t('website.label.contact') %></h2>
            <p > <%= t('website.label.address')+" ៖​​ #{@contact.address}"  %> </p>
            <p > <%= t('website.label.phone') +" ៖​​ #{@contact.phone}"  %> </p>
            <p > <%= t('website.label.fax')+" ៖​​ #{@contact.fax}"  %> </p>
            <p > <%= t('website.label.email')+" ៖​​ #{@contact.email}"  %> </p>
          </div>
        </div>
        <!-- /footer-content -->
        <!-- bottom-footer -->
        <div class="bottom-footer color-white background-color-3 has-padding col-md-12">
          <%= t('website.copy_right') %>
        </div>
    </div>
    </div>
    </div>
</div>