</div>
    <!-- main content -->
</div>
<!-- full width content -->

<div class="main-footer col-md-12 no-padding">
      <!-- footer-top -->
      <div class="footer-top">
        <!-- footer-top -->
      </div>  
      <!-- /footer-top -->
      <!-- footer-content -->
        <div class="footer-content background-color-fore has-padding col-md-12">
          <!-- widget box -->
          <div class="footer-widget-box col-md-៥ pull-left">
            <h2>អាស័យដ្ឋានទំនាក់ទំនង</h2>
            <h2>អគ្គនាយកដ្ឋានលទ្ធកម្មសាធារណ:នៃសេដ្ឋកិច្ច និង ហិរញ្ញវត្ថុ</h2>
            <h2><%= t('website.label.address')+" ៖​​ #{@contact.address}"  %></h2>
          </div>
          <!-- /widget box  -->
          
          <div class="footer-widget-box col-md-3 pull-right">
            <h2><%= t('website.label.phone') +" ៖​​ #{@contact.phone}"  %></h2>
            <h2><%= t('website.label.fax')+" ៖​​ #{@contact.fax}"  %></h2>
            <h2><%= t('website.label.email')+" ៖​​ #{@contact.email}"  %></h2>
          </div>
          <!-- /widget box  -->

        </div>
        <!-- /footer-content -->
        <!-- bottom-footer -->
        <div class="bottom-footer color-white background-color-3 has-padding col-md-12">
          <%= t('website.copy_right') %>
        </div>
      <!-- /bottom-footer -->
    </div>


      </div>
      <!-- /.main container  -->
    </div>
    </div>
</div>
<!-- /container  -->