<% if admin_signed_in? %>
  <div class="row admin-nav" >
    <div class="col-xs-12" >
      <div class="row" >
        <div class="col-xs-9" >
          <%= link_to "Dashboard", administrator_index_path %> | 
          <%= link_to "Announcements", announcements_path %> |
          <%= link_to "Budget sources", budget_sources_path %> |
          <%= link_to "Announcement types", announcement_types_path %> |
          <%= link_to "Procurement entities", procurement_entities_path %>
          <%= link_to "Law and Regulation", law_regulations_path %>
        </div>
        <div class="col-xs-3" style="text-align:right" >
          <b><%= link_to current_admin.username.capitalize, "#" %></b> | 
          <%= link_to destroy_admin_session_path, :method => :delete do%>
            <i class="fa fa-sign-out fa-lg"></i>Sign Out
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %> 
