<%= simple_form_for(@law_regulation) do |f| %>
  <%= f.input :title %>
  <%= f.input :description %>
  <label class="control-label text-left">Thumbnail</label>
  <%= f.file_field :thumbnail, :type => "file" %>
  <label class="control-label text-left">Law Document Attachment</label>
  <%= f.file_field :law_doc_attachment, :type => "file" %>
  <%= f.submit %>
<% end %>