<div class="panel panel-primary" >
  <div class="panel-heading" >
    <b><%= t('dashboard.navigator_menu.law_regulation') %></b>
  </div>
  <div class="panel-body" >
    <table class="table table-bordered datatable" id="datatables" >
      <thead>
        <tr>
          <th>#</th>
          <th><%= t('table.law_regulation.title') %></th>
          <th><%= t('table.law_regulation.law_category_id') %></th>
          <th><%= t('table.law_regulation.description') %></th>
          <th><%= t('table.law_regulation.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% no = 1; @law_regulations.each do |law_regulation| %>
          <tr>
            <td> <%= no %> </td>
            <td> <%= law_regulation.title %> </td>
            <td> <%= law_regulation.law_category.name %> </td>
            <td> <%= law_regulation.description %> </td>
            <td>
              <%= link_to t('form.actions.show'), law_regulation_path(law_regulation) , class: "btn btn-xs btn-success"  %>
              <%= link_to t('form.actions.delete'),  { action: :destroy, id: law_regulation.id}, method: :delete, data: { confirm: "Are you sure to delete '#{law_regulation.title }' ?" }, class: "btn btn-xs btn-danger" %>
              <%= link_to t('form.actions.edit'), edit_law_regulation_path(law_regulation) , class: "btn btn-xs btn-primary"  %>
            </td>
          </tr>
        <% no+= 1;  end %>
      </tbody>

    </table>
    
  </div>
  <div class="panel-footer" >
    <%= link_to t('form.button.add'), new_law_regulation_path, class: "btn btn-primary" %>
  </div>
</div>
