<%= render 'administrator/header/header' %>

<% if admin_signed_in? %>
  <%= link_to 'log out', destroy_admin_session_path, :method => :delete%>
  <div>Signed in as... <%= current_admin.email %></div>
  <div><%= current_admin.username.capitalize %></div>
  <div><%= current_admin.user_profile.inspect %></div>
<% end %>

<div class="panel panel-primary" >
  <div class="panel-heading">
    Budget source
  </div>
  <div class="panel-body" >
    <% @budget_sources.each do |budget_source| %>
      <%= budget_source.name %> [ 
        <%= link_to "edit", edit_budget_source_path(id: budget_source.id) %> |
        
       ]<br> 
    <% end %>
  </div>
</div>
  


<%= render 'administrator/footer/footer' %>
