<div class="panel panel-primary" >
  <div class="panel-heading" >
    <b><%= t('dashboard.navigator_menu.contact') %></b>
  </div>
  <div class="panel-body" >
  <div class="row">
    <div class="col-md-5">
      <p><%= "<b>#{t('website.label.address')} ៖ </b> #{@contact.address} ".html_safe %></p>
      <p><%= "<b>#{t('website.label.phone')} ៖ </b> #{@contact.phone} ".html_safe %></p>
      <p><%= "<b>#{t('website.label.fax')} ៖​ </b> #{@contact.fax} ".html_safe %></p>
      <p><%= "<b>#{t('website.label.email')} ៖ </b> #{@contact.email} ".html_safe %></p>
      <hr>
      <%= link_to t('form.actions.edit'), edit_contact_path(@contact), class: "btn btn-primary" %>
    </div>
    <div class="col-md-7">
      <div class="map" id="admin-map" style="height: 400px" ></div>
    </div>
  </div>

  <div class="hide" id="admin-map-x" ><%= @contact.latitude %></div>
  <div class="hide" id="admin-map-y" ><%= @contact.longitude %></div>
  <div class="hide" id="admin-map-z" ><%= @contact.zoom_level %></div>
  </div>
</div>
