<div class="panel panel-primary" >
  <div class="panel-heading" >
    <b><%= t('dashboard.navigator_menu.procurement_method') %></b>
  </div>
  <div class="panel-body" >
    <table class="table table-bordered datatable" >
      <thead>
        <tr>
          <th><%= "#" %></th>
          <th><%= t('table.procurement_method.name') %></th>
          <th><%= t('table.announcement.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% no = 1; @procurement_methods.each do |procurement_method| %>
          <tr>
            <td> <%= no %> </td>
            <td> <%= procurement_method.name %> </td>
            <td>
              <%= link_to t('form.actions.edit'), edit_procurement_method_path(procurement_method) , class: "btn btn-xs btn-primary"  %> | 
              <%= link_to t('form.actions.delete'),  { action: :destroy, id: procurement_method.id}, method: :delete, data: { confirm: "Are you sure to delete '#{procurement_method.name}'?" }, class: "btn btn-xs btn-danger" %>
            </td>
          </tr>

        <% no+= 1;  end %>
      </tbody>

    </table>
    
  </div>
  <div class="panel-footer" >
    <%= link_to t('form.button.add'), new_procurement_method_path, class: "btn btn-primary" %>
  </div>
</div>
