    <nav class="navbar navbar-default background-color-fore ">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="only"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class=" navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li >
              <%= link_to 'ទំព័រដើម', root_path  %>
            </li>

            <li class="dropdown">
              <%= link_to '', class: 'dropdown-toggle' do %>
                អំពីស្ថាប័ន
                <span class="caret"></span>
              <% end %>
              <ul class="dropdown-menu">
                <% @org_structure_categories.each do |org_structure_category| %>
                  <li>
                    <%= link_to org_structure_category.name, show_org_structures_path(org_structure_category_id: org_structure_category.id)  %>
                  </li>
              <% end %>
              </ul>
            </li>

            <li class="dropdown">
              <%= link_to '', class: 'dropdown-toggle' do %>
                ការអនុវត្តកម្មវិធី PMS
                <span class="caret"></span>
              <% end %>
              <ul class="dropdown-menu">
                <li>
                  <%= link_to 'ផែនការសកម្មភាពរបស់អគ្គនាយកដ្ឋាន', show_quater_years_pfms_path %>
                </li>
                <li>
                  <%= link_to 'ការអនុវត្តផែនការសកម្មភាព', gdpp_structure_path %>
                </li>
              </ul>
            </li>

            <li class="dropdown">
              <%= link_to '#', class: 'dropdown-toggle' do %>
                ស្ថាប័នអនុវត្តលទ្ធកម្ម
                <span class="caret"></span>
              <% end %>

              <ul class="dropdown-menu">
              <% @procurement_categories.each do |pc| %>
                <li>
                <%= link_to pc.name, show_procurement_entities_path(category_id: pc.id)  %>
                </li>
              <% end %>
                
              </ul>
            </li>
            
            <li >
              <%= link_to show_public_services_path do %>
                សេវាសាធារណៈ
                <span class="sr-only">(current)</span>
              <% end %>
            </li>

            <li>
              <!-- <a href="">ទំនាក់ទំនង</a> -->
              <%= link_to "ការបញ្ជាទិញ", show_purchase_orders_path %>
            </li>
            <li >
              <%= link_to "ដំណោះស្រាយវិវាទ", faq_in_website_path %>
            </li>
            <li >
              <%= link_to "ទំនាក់ទំនង", show_contact_path %>
            </li>
            <li >
              <%= link_to "សំណួរ ចំលើយ", faq_in_website_path %>
            </li>
          </ul>
          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

