<%= simple_form_for(@contact) do |f| %>
  <br>
  <div class="row" >
    <div class="col-md-5">
      <%= f.input :address, as: :text %>
      <%= f.input :phone %>
      <%= f.input :fax %>
      <%= f.input :email %>

      <%= f.input :latitude, as: :hidden %>
      <%= f.input :longitude, as: :hidden %>
      <%= f.input :zoom_level, as: :hidden %>

      <%= f.submit class: 'btn btn-primary'%>
    </div>
    <div class="col-md-7" >
      <div id="gmap"></div>
    </div>
  </div>
<% end %>