<div class="panel panel-primary" >
  <div class="panel-heading" >
    <b><%= t('dashboard.navigator_menu.budget_sources') %></b>
  </div>
  <div class="panel-body" >
    <table class="table table-bordered datatable" id="datatables" >
      <thead>
        <tr>
          <th><%= "#" %></th>
          <th><%= t('table.announcement.budget_source') %></th>
          <th><%= t('table.announcement.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% no = 1; @budget_sources.each do |budget_source| %>
          <tr>
            <td> <%= no %> </td>
            <td> <%= budget_source.name %> </td>
            <td>
              <%= link_to t('form.actions.edit'), edit_budget_source_path(budget_source) , class: "btn btn-xs btn-success"  %> | 
              <%= link_to t('form.actions.delete'),  { action: :destroy, id: budget_source.id}, method: :delete, data: { confirm: 'Are you sure to delete budget source?' }, class: "btn btn-xs btn-danger" %>
            </td>
          </tr>

        <% no+= 1;  end %>
      </tbody>

    </table>
    
  </div>
  <div class="panel-footer" >
    <%= link_to t('form.button.add'), new_budget_source_path, class: "btn btn-primary" %>
  </div>
</div>
