<div class="panel panel-primary" >
  <div class="panel-heading" >
    <b><%= t('dashboard.navigator_menu.law_category') %></b>
  </div>
  <div class="panel-body" >
    <table class="table table-bordered datatable" id="datatables" >
      <thead>
        <tr>
          <th><%= "#" %></th>
          <th><%= t('table.law_category.name') %></th>
          <th><%= t('table.announcement.actions') %></th>
        </tr>
      </thead>
      <tbody>
        <% no = 1; @law_categories.each do |law_category| %>
          <tr>
            <td> <%= no %> </td>
            <td> <%= law_category.name %> </td>
            <td>
              <%= link_to t('form.actions.edit'), edit_law_category_path(law_category) , class: "btn btn-xs btn-success"  %> | 
              <%= link_to t('form.actions.delete'),  { action: :destroy, id: law_category.id}, method: :delete, data: { confirm: "Are you sure to delete '#{law_category.name}'?" }, class: "btn btn-xs btn-danger" %>
            </td>
          </tr>

        <% no+= 1;  end %>
      </tbody>

    </table>
    
  </div>
  <div class="panel-footer" >
    <%= link_to t('form.button.add'), new_law_category_path, class: "btn btn-primary" %>
  </div>
</div>
