<!-- content -->      
<div class="content  col-md-8 body">
    <div>
      <h1 class="content-main-title" ><%= "អាស័យដ្ឋានទំនាក់ទំនង" %></h1>
      <br>
      <p><%= "<b>អាស័យដ្ឋាន : </b> #{@contact.address}".html_safe %></p>
      <p><%= "<b>លេខទូរស័ព្ទ : </b> #{@contact.phone}".html_safe %></p>
      <p><%= "<b>ទូរសារ : </b> #{@contact.fax}".html_safe %></p>
      <p><%= "<b>អ៊ីមែល : </b> #{@contact.email}".html_safe %></p>

    </div>
    <div class="hide" id="front-map-x"><%= @contact.latitude %></div>
    <div class="hide" id="front-map-y"><%= @contact.longitude %></div>
    <div class="hide" id="front-map-z"><%= @contact.zoom_level %></div>
    <div id="front-map" style="height: 400px" ></div>
</div>
<!-- /.content -->