
  <div class="content  col-md-8 body">
    <br>
    <p class="text-center" style="font-size: 25px; font-family:'khmer muol'; " >
      <% if @procurement_entities.length >0 %>
        <%= @procurement_entities[0].procurement_category.name %>
      <% else %>
        <%= "No Data found!" %>
      <% end %>
      
    </p>  
    <hr>
    <div class="row"  >
    <% @procurement_entities.each do |pe| %>
        <div class="col-md-6" style="padding-bottom: 10px;" >
          <% if pe.logo? %>
            <%= image_tag( pe.logo.url(:thumb), class: 'col-md-3 has-shadow ', style: 'padding:0px' ) %>
          <% else %>
            <%= image_tag("no-image.png", class: 'col-md-3 has-shadow ', style: 'padding:0px' ) %>
          <% end %>

          <div class="col-md-9" style=" line-height: 25px; padding-right:0px" >
            <b><%= pe.name %></b>
            <br>
            <%= "អាស័យដ្ឋាន ៖ #{pe.address}" %><br>
            <%= "ទូរស័ព្ទ ៖ #{pe.phone}" %> <br>
            <%= "គេហទំព័រ ៖ #{pe.website} " %> <br>
          </div>
        </div>
    <% end %>
    </div>

  </div>
