
<div class="content  col-md-8 body">
    <div class="has-padding has-shadow" style="margin-bottom:10px;" >
      <b><%= "Procurement plan"  %></b>
    </div>
    <br>
    <div class="box">
      <div class="box-body">
        <table border="1" id="my_datatable" class="table table-striped table-bordered dataTable" style="font-size: 13px;" >
          <thead>
            <tr>
              <th ><%= "ផែនការលទ្ធកម្ម" %></th>
              <th class="text-nowrap" ><%= "ស្ថាប័នអនុវត្តិលទ្ធកម្ម" %></th>
              <th class="text-nowrap" ><%= "ប្រចាំឆ្នាំ" %></th>
            </tr>
          </thead>
          <tbody  >
            <!-- data -->
            <% @procurement_plans.each do |pp| %>
              <tr>
                <td>
                  <%=  pp.name %>
                  <br><br>
                  <b><%= "ឯកសារ ៖ " %></b> 
                  [
                    <% if pp.procurement_plan_file? %>
                     <%= link_to "ភាសាខ្មែរ", pp.procurement_plan_file.url, target: '_blank' %>
                    <% else %>
                      <%= "ពុំមានឯកសាភ្ជាប់" %>
                    <% end %> </li>
                  ]
                  <br>
                  <i style="font-size: 11px" ><%= "#{t('website.release_date')} #{pp.updated_at.strftime("%B %d, %Y") }" %></i>
                </td>
                <td><%= pp.procurement_entity.name %> </td>
                <td><%= pp.year %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div><!-- /.box-body -->
    </div><!-- /.box -->
</div>
<!-- /.content -->
