<!DOCTYPE html>
<html>
<head>
  <title>GDPP Website</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= gmap_lib %>
  <%= ingetrate_protnote %>
  <script type="text/javascript">
    var groupnumber="YOUR GROUP NUMBER";
  </script>
</head>
<body>

<div class="container-fluid">
  <%= render 'website/header/header' %>
  <%= yield %>
  <%= render'website/sidebars/right_sidebar' %>
  <%= render 'website/footer/footer' %>
  <% #render 'debug' %>
</div>

</body>
</html>
